<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="xyz/style.css">
</head>
<body>
	<h1>Home PAGE</h1>
	<p>Welcome home </p>

	<a href="/home/create">Create New</a> | 
	<a href="/home/user_list">User List</a> | 
	<a href="/logout">Logout</a> 

</body>
</html>